@{
    Layout = "_Layout";
}

@model parks_mvc.Models.NationalPark

<h2>NationalPark - @Model.ParkName</h2>
<hr>
@Html.ActionLink("Edit NationalPark", "Edit", new { id = Model.NationalParkId })<br>
@Html.ActionLink("Delete NationalPark", "Delete", new { id = Model.NationalParkId })
<hr>
<ul>
    <li>Name: @Html.DisplayFor(modelItem => Model.ParkName)</li>
    <li>Average Rating: @Model.AvgRating</li>
    
</ul>
<hr>
<h5>Reviews for @Model.ParkName</h5>
@foreach (var review in Model.Reviews)
{
    <ul>
        <li>Author: @review.UserName</li>
        <li>Rating: @review.Rating</li>
        <li>Review: @review.ReviewText</li>
        
    </ul>
}

@Html.ActionLink("Add a Review", "Create", "Reviews", new { id = Model.NationalParkId })
<hr>
@Html.ActionLink("Back", "Index","States")
