@{
    Layout = "_Layout";
}

@model parks_mvc.Models.State

<h2>State - @Model.StateName</h2>
<hr>
@Html.ActionLink("Edit State", "Edit", new { id = Model.StateId })<br>
@Html.ActionLink("Delete State", "Delete", new { id = Model.StateId })
<hr>
<ul>
    <li>Name: @Html.DisplayFor(modelItem => Model.StateName)</li>
    <li>Country: @Html.DisplayFor(modelItem => Model.Country)</li>
    <li>City: @Html.DisplayFor(modelItem => Model.City)</li>
</ul>
<hr>
<h5>NationalParks for @Model.StateName</h5>
@foreach (var nationalPark in Model.NationalParks)
{
    <ul>
        <li>Name: @Html.ActionLink($"{nationalPark.ParkName}", "Details", "NationalParks", new { id = nationalPark.NationalParkId})</li>
        <li>Average Rating: @nationalPark.AvgRating</li>
    </ul>
}
@Html.ActionLink("Add a NationalPark", "Create", "NationalParks", new { id = Model.StateId })<br>
@Html.ActionLink("Back", "Index")
